@import './shared.scss';
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif !important;
  @extend .fs-14;
  //background-color:$secondary-color !important;
}
html, body {
    height: 100%;
    margin: 0px;
}
.content {
  min-height: calc(100vh - 224px)
}
.dropdown-item{
  font-size:14px !important;
}
.dropdown-menu{
  padding:0 !important;
  margin:0 !important;
}
.navbar{
  margin-bottom: 0;
  a {
    color: $primary-color !important;
  }
  border-radius: 0;
  border: none;
  // background-color:$white !important;
  padding: 10px 0;
  //color:$primary-color !important;
  .navbar-brand {
    display: flex;
    align-items: center;
    width: 140px;
    img{
      width: 50px;
    }
  }
  button.navbar-toggler{
    background-color: $secondary-color !important;
  }
  a.nav-link{
    color:$primary-color !important;
  }
  .login-register{
    display: inline-block;
    float: right;
    margin: 1.5rem 0;
    a.login-link, a.register-link {
      padding: 0 10px;
      text-decoration: none;
      font-size: 16px;
      /* color: red !important; */
      font-weight: 500;
    }
  }
}
.login {
  background: url('../assets/bag-brand-business-167703.jpg');
  background-size: cover;
  background-position: 20px;
  height: calc(100vh - 224px);
  //background-repeat: no-repeat;
  .content-wrapper {
    @extend .login-form-wrapper;
    .form{
      max-width: 400px;
    }
    width: 100%;
    .flex-1 {
      flex: 1;
      padding: 0 10px;
    }
    h1{
      color: $white;
    }
  }
  form {
    button {
      background-color: $cinnabar;
      border: none;
      color: $white;
    }
  }

}
.login-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  h2{
    color:$secondary-color;
  }
  // .login-form{
  //   max-width: 500px;
  //   margin: 0 auto;
  //   padding: 0px 15px;
  // }
  .form-control{
    border-color: $gainsboro !important;
  }
}
.explore{
  // .slide{
  //   height: calc(100vh);
  // }
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    //padding: 0 4px;
    img {
      padding: 4px;
    }
  }
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0;
  }
  .category{
    overflow: hidden;
    margin:10px 0;
    display: flex;
    justify-content: center;
    button{
      background-color: $cinnabar;
      color: $white;
      min-width: 100px;
      padding: 10px;
      border: none;
      box-shadow: none;
      border-radius: 0;
      position: absolute;
      bottom: 20px;
      text-transform: uppercase;
      opacity: .8;
      transition: background .25s ease;
      &:active{
        background-color: $white;
        color: #000;
      }
      &:hover{
        background-color: $white;
        color: #000;
      }
    }

    .img-thumbnail{
      height: 450px;
      cursor: pointer;
      border: none;
      // width: 270px;
      &:hover {
        // transform: scale(1.02);
      }
    }
    .sign-up{
      height: 450px;
      width: 310px;
      background-color: $gainsboro;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .carousel-inner > .item > img {
    margin: 0 auto;
  }
  .shop-for{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 70px 0;
  }
}
.shop {
  .container {
    //width: 80%;
  }
}
.footer {
  background-color: #333 !important;
  color: $white;
  min-height: 150px;
  padding: 50px;
  a{
    color: #ccc !important;
  }
  .container {
    width: auto !important;
  }
}
.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  .product {
    min-height: 430px;
    //padding-right: 2rem;
  }
  .image {
    position: relative;
    display: inline-block;
  }
  .offer {
    position: absolute;
    background-color: #ef5777;
    padding: 3px;
    color: #fff;
    right: 0;
    top: 5px;
  }
  .product-image{
    width: 250px;
  }
  .ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
  }
  .full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
  }
  .details {
    padding: .5rem;
    // background-color: #eee;
    // border: 1px solid #ddd;
    // border-top: none;
    .name {
      font-weight: bold;
    }
  }
  .old-price {
    margin-left: 10px;
    color: #aaa;
    text-decoration: line-through;
  }
  .overly {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    button {
      bottom: 20px;
      position: absolute;
      left: 50px;
      border-radius: 0px;
      border: none;
      background-color: #ef5777;
    }
    img {
      position: absolute;
      left: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
}
.relative {
  position: relative;
}
.cart-profile{
  display: flex;
  align-items: center;
  height: 50px;
  .cart {
    position: relative;
    width: 50px;
    .badge {
      position: absolute;
      right: 4px;
      top: -3px;
      background-color: #ef5777;
    }
  }
  .profile {
    margin-left: 20px;
  }
}
.empty-stars:before, .full-stars:before {
  content:"\2605\2605\2605\2605\2605";
  font-size: 14pt;
}
.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}
.full-stars:before {
  -webkit-text-stroke: 1px orange;
}
/* Webkit-text-stroke is not supported on firefox or IE */ 
.spinner-body {
  height: 100vh;
  overflow: hidden;
}

/* spinner css*/
.spinner-wrapper {
  position: absolute;
  display: flex;
  height: 100vh;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,1);
  width: 100%;
  
  
  .spinner {
    // width: 40px;
    // height: 40px;
  
    position: relative;
    // margin: 100px auto;
  }
  
  .double-bounce1, .double-bounce2 {
    // width: 100%;
    // height: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    //background-color: #333;
    background-color: #b91414;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
}
.show-loader {
  opacity: 1;
  visibility: visible;
}

.hide-loader {
  opacity: 0;
  visibility: hidden;
  transition: all .2s linear;
}