@import './shared.scss';
* {
  margin: 0;
  padding: 0;
}

body {
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif !important;
	@extend .fs-14;
	background-color:$secondary-color !important;
}
.dropdown-item{
	font-size:14px !important;
}
.dropdown-menu{
	padding:0 !important;
	margin:0 !important;
}
.navbar{
	background-color:$primary-color !important;
	color:$white !important;
	a.navbar-brand {
		color:$secondary-color !important;
	}
	button.navbar-toggler{
		background-color: $secondary-color !important;
	}
	a.nav-link{
		color:$secondary-color !important;
	}
}
.login-form-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 108px);
    bottom: 0;
    background-color:$secondary-color !important;
    h2{
    	color:$secondary-color;
    }
    .login-form{
		max-width: 500px;
		margin: 0 auto;
		padding: 0px 15px;
    }
    .form-control{
    	border-color: $border !important;
    }
}
