@import './shared.scss';
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif !important;
  @extend .fs-14;
  //background-color:$secondary-color !important;
}
html, body {
    height: 100%;
    margin: 0px;
}
.content {
  height: calc(100vh - 224px)
}
.dropdown-item{
  font-size:14px !important;
}
.dropdown-menu{
  padding:0 !important;
  margin:0 !important;
}
.navbar{
  margin-bottom: 0;
  a {
    color: $primary-color !important;
  }
  border-radius: 0;
  border: none;
  // background-color:$white !important;
  padding: 10px 0;
  //color:$primary-color !important;
  .navbar-brand {
    display: flex;
    align-items: center;
    width: 140px;
    img{
      width: 50px;
    }
  }
  button.navbar-toggler{
    background-color: $secondary-color !important;
  }
  a.nav-link{
    color:$primary-color !important;
  }
  .login-register{
    display: inline-block;
    float: right;
    margin: 1.5rem 0;
    a.login-link, a.register-link {
      padding: 0 10px;
      text-decoration: none;
      font-size: 16px;
      /* color: red !important; */
      font-weight: 500;
    }
  }
}
.login {
  background: url('../assets/bg3.jpg');
  background-size: cover;
  background-position: 20px;
  height: calc(100vh - 224px);
  .content-wrapper {
    @extend .login-form-wrapper;
    .form{
      max-width: 400px;
    }
    width: 100%;
    .flex-1 {
      flex: 1;
      padding: 0 10px;
    }
    h1{
      color: $white;
    }
  }
  form {
    button {
      background-color: $cinnabar;
      border: none;
      color: $white;
    }
  }

}
.login-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  h2{
    color:$secondary-color;
  }
  // .login-form{
  //   max-width: 500px;
  //   margin: 0 auto;
  //   padding: 0px 15px;
  // }
  .form-control{
    border-color: $gainsboro !important;
  }
}
.explore{
  .category{
    overflow: hidden;
    margin:10px 0;
    display: flex;
    justify-content: center;
    button{
      background-color: $cinnabar;
      color: $white;
      min-width: 100px;
      padding: 10px;
      border: none;
      box-shadow: none;
      border-radius: 0;
      position: absolute;
      bottom: 20px;
      text-transform: uppercase;
      opacity: .8;
      transition: background .25s ease;
      &:active{
        background-color: $white;
        color: #000;
      }
      &:hover{
        background-color: $white;
        color: #000;
      }
    }

    .img-thumbnail{
      height: 450px;
      cursor: pointer;
      // width: 270px;
      &:hover {
        // transform: scale(1.02);
      }
    }
    .sign-up{
      height: 450px;
      width: 310px;
      background-color: $gainsboro;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .carousel-inner > .item > img {
    margin: 0 auto;
  }
  .shop-for{
    font-size: 30px;
    font-weight:bold;
    text-align: center;
    // margin-top: 50px;
    margin-bottom: 20px;
  }
}
.footer {
  background-color: #333 !important;
  color: $white;
  min-height: 150px;
  padding: 50px;
  a{
    color: #ccc !important;
  }
  .container {
    width: auto !important;
  }
}
